/* Monitor */
#sect{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form6{
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.input6{
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 12px;
    margin-top: 12px;
}


/* Software */
#sect{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#form5{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
}
.input5{
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 12px;
    margin-top: 12px;
}



/* Impressora */
#secti{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#form4{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input4{
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 12px;
    margin-top: 12px;
}

/* Celular */
#sectio{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#form3{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.input3{
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 12px;
}

/* Notebook */
#section{
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#form2{
    width: 450px;
    display: flex;
    flex-direction: column;
}

.input2{
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
}


/* Usuário */
#form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    width: 450px;
    border-top: none;
    border-right: none;
    border-left: none;
}

/* Em todos os html */
#botao{
    width: 100px;
    height: 30px;
    background-color: green;
    border: none;
}
#botao:hover{
   background-color: yellow;
}