{%extends 'index.html'%}
{%block conteudo%}
<link rel="stylesheet" href="../static/css/styleedita.css">
<body>
    <section id="secti">
        <form method="POST" id="form4">
            <label>Nome da Maquina: </label>
            <input type="text" name="maquina" class="input4" value="{{editar.nome_maquina}}">
            <label>Etiqueta: </label>
            <input type="text" name="etiqueta" class="input4" value="{{editar.etiqueta}}">
            <label>Serial: </label>
            <input type="text" name="serial" class="input4" value="{{editar.serial}}">
            <label>Marca: </label>
            <input type="text" name="marca" class="input4" value="{{editar.marca}}">
            <label>Observação: </label>
            <input type="text" name="observacao" class="input4" value="{{editar.observacao}}">
            <button type="submit" id="botao">Atualizar</button>
        </form>
    </section>
</body>
{%endblock conteudo%}