{%extends 'index.html'%}
{%block conteudo%}
<link rel="stylesheet" href="../static/css/styleedita.css">
<body>
    <section id="section">
    <form action="{{url_for('editar_notebook', id=editar.id)}}" id="form2" method="POST">

        {%for meng in get_flashed_messages()%}
            {{meng}}
        {%endfor%}
        <label>Usuário: </label>
        
        <input type="text" name="usuario" class="input2" value="{{editar.usuario}}" required><br>
       
        <label>Marca: </label>
        <input type="text" name="marca" class="input2" value="{{editar.marca}}" required><br>
        
        <label>Adress_Físico: </label>
        <input type="number" name="adressfisico" class="input2" value="{{editar.mac_address_fisico}}" required><br>

        <label>Adress_Wifi: </label>
        <input type="number" name="adresswifi" class="input2" value="{{editar.mac_address_wifi}}" required><br>

        <label>Observação: </label>
        <input type="text" name="observacao" class="input2" value="{{editar.observacao}}"><br>

        <label>Maquina: </label>
        <input type="text" name="maquina" class="input2" value="{{editar.nome_maquina}}" required><br>

        <label>Serial: </label>
        <input type="number" name="serial" class="input2" value="{{editar.serial}}" required><br>

        <label>Data de Manutenção: </label>
        <input type="date" name="manutencao" class="input2" value="{{editar.data_manutencao}}" required><br>

        <label>Data Limite: </label>
        <input type="date"  name="limite" class="input2" value="{{editar.data_limite}}" required><br>

        <button type="submit" id="botao">Atualizar</button>
    </form>
</section>
</body>
{%endblock conteudo%}