{%extends "index.html"%}
{%block conteudo%}
<title>Bem-Vindo |{%block title%} Monitor {%endblock title%}</title>
<link rel="stylesheet" href="../static/css/monitor.css">

<script src="../static/js/main.js" defer></script>

<section id="test">
    <button type="button" class="button blue" id="cadastrarColab">Cadastrar Monitor</button>
    <table class="records">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Etiqueta</th>
                <th>Marca</th>
                <th>Observação</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {%for monitor in monit%}
            <tr>
                <td>{{monitor.usuario}}</td>
                <td>{{monitor.etiqueta}}</td>
                <td>{{monitor.marca}}</td>
                <td>{{monitor.observacao}}</td>

                <td>
                    <a href="/editar_monitor/{{monitor.id}}"><button type="button"
                            class="button green">Editar</button></a>
                    <a href="/remover_monitores/{{monitor.id}}"><button type="button"
                            class="button red">Excluir</button></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="modal" id="modal">
        <div class="modal-content">
            <header class="modal-header">
                <h2>Novo Monitor</h2>
                <span class="modal-close" id="modalClose">&#10006;</span>
            </header>

            <form href="/monitores" class="modal-form" method="post">
                <input type="text" class="modal-field" name="usuario" placeholder="Usuário">
                <input type="number" class="modal-field" name="etiqueta" placeholder="Etiqueta">
                <input type="text" class="modal-field" name="marca" placeholder="Marca">
                <input type="text" class="modal-field" name="observacao" placeholder="Observação">

                <footer class="modal-footer">
                    <button type="submit" class="button green">Salvar</button>
                    <button type="submit" class="button blue">Cancelar</button>
                </footer>
            </form>
        </div>
    </div>
</section>
{%endblock conteudo%}