{%extends "index.html"%}
{%block conteudo%}
<link rel="stylesheet" href="../static/css/software.css">
<script src="../static/js/main.js" defer></script>

<title>>Bem-Vindo |{%block title%} Software {%endblock title%}</title>

<section id="teste">
    <button type="button" class="button blue" id="cadastrarColab">Cadastrar Software</button>
    {%for mensg in get_flashed_messages()%}
    {{mensg}}
    {%endfor%}

    <table class="records">
        <thead>
            <tr>
                <th>Licença</th>
                <th>Suporte</th>
                <th>Data de renovação</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>

            {%for softy in soft%}
            <tr>
                <td>{{softy.licenca}}</td>
                <td>{{softy.suporte}}</td>
                <td>{{softy.data_renovacao}}</td>
                <td>
                    <a href="/editar_software/{{softy.id}}"><button type="button"
                            class="button green">Editar</button></a>
                    <a href="/remover_software/{{softy.id}}"><button type="button"
                            class="button red">Excluir</button></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="modal" id="modal">
        <div class="modal-content">
            <header class="modal-header">
                <h2>Novo dispositivo</h2>
                <span class="modal-close" id="modalClose">&#10006;</span>
            </header>
            <form href="/software" class="modal-form" method="post">
                <input type="text" class="modal-field" name="licenca" placeholder="Licença">
                <input type="text" class="modal-field" name="suporte" placeholder="Suporte">
                <input type="date" class="modal-field" name="data_renovacao" placeholder="Data de renovação">

                <footer class="modal-footer">
                    <button class="button green">Salvar</button>
                    <button class="button blue">Cancelar</button>
                </footer>
            </form>
        </div>
    </div>
</section>

{%endblock conteudo%}