
#sect{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#form5{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
}
.input5{
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 12px;
    margin-top: 12px;
}

#botao{
    width: 100px;
    height: 30px;
    background-color: green;
    border: none;
}
#botao:hover{
   background-color: yellow;
}