{%extends "index.html"%}
{%block conteudo%}

    <link rel="stylesheet" href="../static/css/celulares.css">
    {%block css%}
    {%endblock css%}
    
    <script src="../static/css/main.js" defer></script>

<form action="{{url_for('celular')}}" method="POST">
<body>
    <main>
        <button type="button" class="button blue" id="cadastrarColab">Cadastrar Celular</button>

        {%for meng in get_flashed_messages()%}
            {{meng}}
        {%endfor%}
        <table class="records">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Usuário</th>
                    <th>Serial</th>
                    <th>Imei 1</th>
                    <th>Imei 2</th>
                    <th>Status</th>
                    <th>Ação</th>

                </tr>
            </thead>
            <tbody>
                {%for cel in cell%}
                <tr>
                    <td>{{cel.marca}}</td>
                    <td>{{cel.usuarios}}</td>
                    <td>{{cel.serial}}</td>
                    <td>{{cel.imei1}}</td>
                    <td>{{cel.imei2}}</td>
                    <td>{{cel.status}}</td>
                    <td>
                      <a href="/edita_celular/{{cel.id}}"><button type="button" class="button green">Editar</button></a>
                      <a href="/remover_celular/{{cel.id}}"><button type="button"  class="button red">Excluir</button></a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <div class="modal" id="modal">
            <div class="modal-content">
            <header class="modal-header">
                <h2>Novo Dispositivo</h2>
                <span class="modal-close" id="modalClose">&#10006;</span>
            </header>
            <form class="modal-form">
                <input type="text" class="modal-field" name="marca" placeholder="Marca">
                <input type="text" class="modal-field" name="usuarios" placeholder="Usuário">
                <input type="number" class="modal-field" name="serial" placeholder="Serial">
                <input type="number" class="modal-field" name="imei_1" placeholder="Imei 1">
                <input type="number" class="modal-field" name="imei_2" placeholder="Imei 2">
                <br>
                <br>
                <label>Situação</label>
                <select id="inputSituacao" name="status" class="modal-field">
                    <option>Ativo</option>
                    <option>Inativo</option>
                </select> 
     
                <br>
                <br>
                <div>
                <br>
                <br>
            </form>
            <footer class="modal-footer">
                <button type ="submit" class="button green">Salvar</button>
                <button type="submit" class="button blue">Cancelar</button>
            </footer>
            </div>
        </div>
    </main>
</body>
</form>
{%endblock%}