{%extends 'index.html'%}
{%block conteudo%}
<link rel="stylesheet" href="../static/css/styleedita.css">
<body>
    <form action="{{url_for('edita_usuario', id=edita.id)}}" id="form" method="POST">
        {%for meng in get_flashed_messages()%}
            {{meng}}
        {%endfor%}
        <label>Nome</label>
        <input type="text" name="nome" class="input" value="{{edita.nome}}" required>

        <label>E-mail</label>
        <input type="text" name="email" class="input" value="{{edita.email}}" required>

        <label>Senha</label>
        <input type="text" name="senha" class="input" value="{{edita.senha}}" required>

        <button type="submit" id="botao">Atualizar</button>
    </form>
</body>
{%endblock conteudo%}