{%extends 'index.html'%}
{%block conteudo%}
<link rel="stylesheet" href="../static/css/styleedita.css">
<body>
    <section id="sect">
        <form method="POST" id="form6">
            <label>Usuário</label>
            <input type="text" name="usuario" class="input6" value="{{editar.usuario}}" required>
            <label>Etiqueta</label>
            <input type="text" name="etiqueta" class="input6" value="{{editar.etiqueta}}" required>
            <label>Marca</label>
            <input type="text" name="marca" class="input6" value="{{editar.marca}}" required>
            <label>Observação</label>
            <input type="text" name="observacao" class="input6" value="{{editar.observacao}}">

            <button type="submit" id="botao">Atualizar</button>
        </form>
    </section>
</body>
{%endblock conteudo%}