{%extends 'index.html'%}
{%block conteudo%}
    <link rel="stylesheet" href="../static/css/impressoras.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;0,800;1,200&display=swap" rel="stylesheet">
    

<form action="{{url_for('impressoras')}}" method="POST">
    <main>
        <button type="button" class="button blue" id="cadastrarColab">Cadastrar Impressora</button>
        <table class="records">
            <thead>
                <tr>
                    <th>Nome da Máquina</th>
                    <th>Etiqueta</th>
                    <th>Serial</th>
                    <th>Marca</th>
                    <th>Observação</th>
                    <th>Ação</th>

                </tr>
            </thead>
            <tbody>
                {%for impress in impressor%}
                <tr>
                    <td>{{impress.nome_maquina}}</td>
                    <td>{{impress.etiqueta}}</td>
                    <td>{{impress.serial}}</td>
                    <td>{{impress.marca}}</td>
                    <td>{{impress.observacao}}</td>
                    <td>
                        <button type="button" class="button green">Editar</button>
                        <a href="/remover_impressora/{{impress.id}}"><button type="button" class="button red">Excluir</button></a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <div class="modal" id="modal">
            <div class="modal-content">
            <header class="modal-header">
                <h2>Novo Dispositivo</h2>
                <span class="modal-close" id="modalClose">&#10006;</span>
            </header>

            {% for mesg in get_flashed_messages()%}
                {{mesg}}
            {%endfor%}
            
            <form class="modal-form">
                <input type="text" class="modal-field" name="maquina" placeholder="Nome Máquina">
                <input type="number" class="modal-field" name="etiqueta"  placeholder="Etiqueta">
                <input type="number" class="modal-field" name="serial" placeholder="Serial">
                <input type="name" class="modal-field"  name="marca" placeholder="Marca">
                <input type="name" class="modal-field" name="observacao" placeholder="Observação">
                <br>
                <br>
            </form>
            <footer class="modal-footer">
                <button class="button green">Salvar</button>
                <button class="button blue">Cancelar</button>
            </footer>
            </div>
        </div>
    </main>
<script src="../static/css/main.js" defer></script>
{%endblock conteudo%}