{%extends 'index.html'%}
{%block conteudo%}

    <link rel="stylesheet" href="../static/css/index.css">
    {%block css%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;0,800;1,200&display=swap" rel="stylesheet">
    {%endblock css%}
    <script src="../static/css/main.js" defer></script>

<body>
<form action="{{url_for('usuarios')}}" method="POST">
    <main>
        <button type="button" class="button blue" id="cadastrarColab">Cadastrar Usuário</button>
        <table class="records">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {%for user in usuar%}
                    <td>{{user.nome}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.senha}}</td>
                    <td>
                        <a href="/edita_usuario/{{user.id}}"><button type="button" class="button green">Editar</button></a>
                       <a href="/remover_usuario/{{user.id}}"><button type="button" class="button red">Excluir</button></a>
                    </td>
                    {%endfor%}
                </tr>
            </tbody>
        </table>
        <div class="modal" id="modal">
            <div class="modal-content">
            <header class="modal-header">
                <h2>Novo colaborador</h2>
                <span class="modal-close" id="modalClose">&#10006;</span>
            </header>

            {%for mesg in get_flashed_messages()%}
                {{mesg}}
            {%endfor%}
            <form class="modal-form">
                <input type="text" class="modal-field" name="nome" placeholder="Nome do colaborador" required>
                <input type="email" class="modal-field" name="email" placeholder="E-mail" required>
                <input type="password" class="modal-field" name="senha" placeholder="Password" required>
            </form>
            <footer class="modal-footer">
                <button class="button green">Salvar</button>
                <button class="button blue">Cancelar</button>
            </footer>
            </div>
        </div>
    </main>
</form>
</body>
{%endblock conteudo%}